Task: {{ task }}

{% if context %}
Additional context:
{{ context }}
{% endif %}

{% if accumulated %}
Previous steps:
{% for phase_name in accumulated.keys() %}
  {{phase_name}}
{% endfor %}
{% endif %}
